//TODO: フォントサイズ
$fs-h1: 42px;
$fs-h2: 37px;
$fs-h3: 31px;
$fs-h4: 28px;
$fs-h5: 24px;
$fs-h6: 20px;
$fs-p: 16px;

// border
$radius-size: 4px;

//common-color
$white-op5: rgba(255, 255, 255, .5);
$white-op7: rgba(255, 255, 255, .7);
$white-op8: rgba(255, 255, 255, .6);
$white: #fff;

//dark-mode-color
$darkmode-background-color: #121212;
$darkmode-black: #121212;
$darkmode-gray: #2D2D2D;
$darkmode-green:#179E8F;
$darkmode-light-green:#24DAC5;
$darkmode-red: #CF6679;
$darkmode-shadow-type-default: 0 3px 3px rgba(33, 33, 33, 0.15);


//light-mode-color
$background-color: #F5F6FA;
$light-gray: #666666;
$darken-gray: #2D2D2D;
$darken-blue: #304156;
$light-blue: #F5F6FA;
$orange: #FBB980;
$green:#34BFA3;
$red: #CF6679;
$place-holder-color: #ECECEC;
$shadow-type-default: 0 3px 3px rgba(0,0,0, 0.15);
