//TODO: フォントサイズ
$fs-h1: 42px;
$fs-h2: 37px;
$fs-h3: 31px;
$fs-h4: 28px;
$fs-h5: 24px;
$fs-h6: 20px;
$fs-p: 16px;

//dark-mode-color
$darkmode-black: #121212;
$darkmode-gray: #2D2D2D;
$darkmode-white: #fff;
$darkmode-green:#179E8F;
$darkmode-light-green:#24DAC5;
$darkmode-red: #CF6679;

//light-mode-color
$light-gray: #666666;
$darken-gray: #2D2D2D;
$darken-blue: #304156;
$light-blue: #F5F6FA;
$orange: #FBB980;
$white: #fff;
$green:#34BFA3;
$red: #CF6679;
$place-holder-color: #ECECEC;
